<% provide(:title, "Welcome | Property Manager") %>
<h1>Welcome to the Property Manager!</h1>
<p>You can browse properties and reservations here.</p>
<p>
  Currently we have # free properties to reserve!
</p>
